.image img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 300px;
  width: 100%;
}

.content {
  text-align: center;
  margin: 20px;
}

.content > * {
  padding-bottom: 10px;
  /* margin-bottom: 5px; */
}

.actions {
  text-align: center;
  margin: 0px 0px 20px;
}

.actions button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: lightblue;
  box-shadow: 1px 3px 8px 0px #888888;
}

.actions button:hover {
  background: #fff;
  box-shadow: -1px 0px 8px 1px #888888;
}
